

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</div>
<footer class="footer bg-dark">
  <div class="container">
    
        <hr>
            <div class="text-center center-block">
                <h5 class="text-light"> Get In Touch</h5>
                    <a href="https://github.com/Mathur777" target="_blank"><i id="social-git" class="fa fa-github-square fa-3x social bg-dark p-1"></i></a>
                  <a href="https://www.linkedin.com/in/sumit00mathur/" target="_blank"><i id="social-tw" class="fa fa-linkedin-square fa-3x social p-1"></i></a>
                  
                  <a href="mailto:sumitmathurl777@gmail.com"target="_blank"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
                  <br />
                  <p>Copyright &copy; <script>document.write(new Date().getFullYear())</script> This Website made by Sumit Mathur ❤️.</p>

    </div>
        <hr>
    </div>
</footer>
</body>
</html>